<?xml version="1.0" encoding="UTF-8"?><plist version="1.0"><dict><key>CFBundleIdentifier</key><string>SomeLanguage</string><key>CFBundleName</key><string>SomeLanguage</string><key>DocSetPlatformFamily</key><string>platform1</string><key>dashIndexFilePath</key><string>index.html</string><key>DashDocSetFamily</key><string>somelanguage</string></dict></plist>
